body {

	margin-right: 100px;
	margin-left: 100px;
	padding: 50px;
	border-left: solid 3px #EEE;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

a:hover{
	color: #A00;
}

h1, h1 > a {
	font-weight:300;
	font-size: 2em;
	color: #D00;
}

header>h2 {
	font-size: 25px;
}


nav>a {
	color: #DDD;
	border-bottom: 2px solid #DDD;
	font-size: 25px;
	margin-right: 20px;
}


h2, h2>a {
	color: black;
	font-weight: 300;
	font-size: 30px;
}

h3 {
	font-size: 30px;
	font-weight: 300;
	color: #CCC;

}

span{
	float:left;
	font-size: 500%;
	line-height: 50%;
	color: #BBB;
	font-weight: 300;
	padding-right: 10px;
}

h4{
	float: right;
}

img {
	width: inherit;
}

article>a {
	color: #D00;
}

article>a:hover {
	color: #A00 ;
}