body {
  font-family: sans-serif;
  margin: 3em;
  padding: 0;
  font-size: 1em;
}

@keyframes big {
	from {font-size: 1em;}
	to {font-size: 6em;}
}

h1 {
    animation-name: big;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: big;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

