*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html{
	font-size: 16px;
}

body {
     font-family: 'Lato', sans-serif;
     margin: 0;
}

.top-nav {
	text-align: right;
	position: fixed;
	width: 100%;
	height: 44px;
	border-bottom: 3px solid black;
	padding-right: 20px;	
	background-color: white;
	z-index: 1;
	padding-top: 7px;
}

nav>a , nav>a:visited, .caption, .caption:visited {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	padding: 15px;
	padding-top: 30px;
	font-size: 1.25rem

}

nav>a:hover{
	background-color: black;
	color: white;
}

.logo {
	position: absolute;
	left: 20px;

}

.header {
	height: 800px;
	width: 100%;
	display: block;
	border-bottom: 44px solid black;

}

.img-container {
	height: 800px;
	width: 25%;
	overflow: hidden;
	float: left;
	text-decoration: none;

}

.header-img {
	width: auto;
	height: 800px;
	display: block;
	position: relative;
	left: -200px;
}

.caption, .caption>span {
	z-index: 1;
	position: relative;
	top: 580px;
	background-color: rgba(255, 255, 255, 0.5);
	height: 44px;
	display: block;
	text-align: center;
	color: black;
	padding: 10px;
}

span.caption:hover {
	background-color: #fff;
}

.divider{
	display: block;
	height: 44px;
	background-color: black;
	width: 100%;
	z-index: 1;
	clear: both;
}

.about-container {
	text-align: center;
	margin: 0px;
	padding: 0px;
	clear: none;
	height: 500px;
}

.grid{
	max-width: 1200px;
	margin: 0 auto;
}

.col{
	float: left;
}

.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
	margin: 0;

}

.grid {
  max-width: 2000px; 
  margin: 0 auto;
}

.ryan-img , .holder-bars {
	width: 500px;
	height: 500px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.holder-bars{
	display: none;
}

.gallery-div{
	overflow: hidden;
	background-color: black;
}

.gallery-slot-1{

	padding-right: 3px;
	height: auto;

}

.gallery-slot-2 {

	padding-right:3px;


}

.gallery-slot-3 {

	padding-bottom: 3px;
	height: 50%;


}

.gallery-slot-4 {
    height: 50%;

}

.gallery-label {
	position: absolute;
	color: #fff;
	background-color: black;
	left: 100px;
	padding: 15px;
	font-size: 1rem;


}

@media only screen and (max-width: 1000px){
	.col-1-4{
		width: 50%;
		height: auto;
	}



	.portrait-container{
		height: 50%;
		overflow: hidden;
	}
}